.link-underline {
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(#fff, #fff);
	background-size: 0 2px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}
.link-underline-black {
	border-bottom: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(#000, #000);
	background-size: 0 2px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}

.link-underline:hover, .link-topline:hover {
	background-size: 100% 2px;
}
